.block_lefted {
    height: 100%;
    width: 0;
    position: relative;
    background-color: #ffffff;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
    
}

.svg_icon_lefted {
    width: inherit;
    margin-left: auto;
}

h1 {
    color: black;
  
    margin-top: 2%;
    margin-bottom: 2%;
    
}
.imgflag {
    margin-left: auto;
    margin-right: auto;
    width: inherit;
    border: none;
}
img {text-indent: -10000px}

